<!doctype html>

<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'script.js' %}"></script>


    <title>Harvest Haven</title>
</head>
<body>
<section id="header">
    <a href="#"><img src="{% static 'images/logo.png' %}" class="logo" alt="image1" ></a>
    <div>
         <ul id="navbar">
            <li><a href="{% url 'fresh_tohome:home' %}">Home</a></li>
            <li><a href="{% url 'fresh_tohome:shop' %}">Shop</a></li>
            <li><a href="{% url 'fresh_tohome:offers' %}">Offers</a></li>
            <li><a href="{% url 'fresh_tohome:about_farmers' %}">About Farmers</a></li>
            <li><a href="{% url 'fresh_tohome:about_us' %}">About Us</a></li>
            <li><a href="{% url 'fresh_tohome:contact' %}">Contact</a></li>
            <li id="lg-bag"><a href="{% url 'fresh_tohome:cart' %}"><i class="fa-solid fa-bag-shopping"></i></a></li>
            <button id="signin-btn" class="log"><a href="{% url 'fresh_tohome:sign_in' %}">Sign In</a></button>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
      <i id="bar" class="fa-solid fa-outdent"></i>

    </div>
</section>

<section id="page-header" class="about-header">
    <h2>#Cart</h2>
    <p>Save your Favorite Products!</p>


</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
          <tr>
              <td>Remove</td>
              <td>Image</td>
              <td>Product</td>
              <td>Price</td>
              <td>Quantity</td>
              <td>Subtotal</td>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td><i class="fa-solid fa-circle-xmark"></i></td>
              <td><img src="{% static 'images/carrot.png' %}"  alt="carrot" > </td>
              <td>Carrot</td>
              <td>Rs 50.00</td>
              <td><input type="number" value="1"></td>
              <td>50.00</td>
          </tr>
         <tr>
              <td><i class="fa-solid fa-circle-xmark"></i></td>
              <td><img src="{% static 'images/cauliflower.png' %}"  alt="carrot" > </td>
              <td>Cauliflower</td>
              <td>Rs 100.00</td>
              <td><input type="number" value="1"></td>
             <td>100.00</td>
          </tr>
         <tr>
              <td><i class="fa-solid fa-circle-xmark"></i></td>
              <td><img src="{% static 'images/pineapple.png' %}"  alt="carrot" > </td>
              <td>Pineapple</td>
              <td>Rs 50.00</td>
              <td><input type="number" value="1"></td>
              <td>50.00</td>

          </tr>
        </tbody>

    </table>

</section>

<section id="cart-add" class="section-p1">
    <div id="coupon">
        <h3>Apply Coupon</h3>
        <div>
            <input type="text" placeholder="Enter your Coupon">
            <button class="normal">Apply</button>
        </div>
    </div>
    <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td>Rs 200.00</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>Rs 200.00</strong></td>
            </tr>

        </table>
        <button class="normal">Proceed to Checkout</button>

    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="{% static 'images/logo.png' %}" alt="Logo">
        <h4>Contact</h4>
        <p><strong>Address:</strong> Harvest Haven Labs </p>
        <p><strong>Phone:</strong> 8921592755</p>
        <p><strong>Hours:</strong> 10.00 to 5.00, Mon - Sat</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My wishlist</a>
        <a href="#">Track my order</a>
        <a href="#">Help</a>
    </div>
    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="{% static 'images/app.png' %}" alt="App">
            <img src="{% static 'images/play.png' %}" alt="Play">
        </div>
        <p>Secured Payment Gateways</p>
        <img src="{% static 'images/pay.png' %}" alt="Pay">
    </div>
    <div class="copyright">
        <p>Copyright @ 2024 Harvest Haven. All Rights Reserved.</p>
    </div>
</footer>
<script src="{% static 'script.js' %}"></script>
</body>
</html>