<!doctype html>

<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'script.js' %}"></script>


    <title>Harvest Haven</title>
</head>
<body>
<section id="header">
    <a href="#"><img src="{% static 'images/logo.png' %}" class="logo" alt="image1" ></a>
    <div>
         <ul id="navbar">
            <li><a href="{% url 'fresh_tohome:home' %}">Home</a></li>
            <li><a href="{% url 'fresh_tohome:shop' %}">Shop</a></li>
            <li><a href="{% url 'fresh_tohome:offers' %}">Offers</a></li>
            <li><a href="{% url 'fresh_tohome:about_farmers' %}">About Farmers</a></li>
            <li><a href="{% url 'fresh_tohome:about_us' %}">About Us</a></li>
            <li><a href="{% url 'fresh_tohome:contact' %}">Contact</a></li>
            <li id="lg-bag"><a href="{% url 'fresh_tohome:cart' %}"><i class="fa-solid fa-bag-shopping"></i></a></li>
            <button id="signin-btn" class="log"><a href="{% url 'fresh_tohome:sign_in' %}">Sign In</a></button>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
      <i id="bar" class="fa-solid fa-outdent"></i>

    </div>
</section>

<section id="page-header" class="about-header">
    <h2>#let's_talk</h2>
    <p>LEAVE A MESSAGE, We love to hear from you!</p>


</section>
<section id="contact-details" class="section-p1">
    <div class="details">
        <span>GET IN TOUCH</span>
        <h2>Visit one of our agency locations or contact us today</h2>
        <h3>Head Office</h3>
        <div>
            <li>
                <i class="fa-solid fa-map"></i>
                <p>Harvest Haven Banerji Road Ernakulam</p>

            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>


                </i>contact@harvest.com</p>

            </li>
            <li>
                <i class="fa-solid fa-phone"></i>
                <p>8921592755</p>

            </li>
            <li>
                <i class="fa-solid fa-clock"></i>
                <p>Monday to Sunday 9AM to 6PM</p>

            </li>

        </div>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62870.3083397216!2d76.25175600285178!3d9.984253762596508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0873ab7316121b%3A0x84565dc5d7d98fe5!2sKrishi%20Bhavan%20Maradu!5e0!3m2!1sen!2sin!4v1707745651024!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>

</section>

<section id="form-details">
    <form action="">
        <span>LEAVE A MESSAGE</span>
        <h3>We love to hear from you!</h3>
        <input type="text" placeholder="Your name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Subject">
        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <button class="normal">Submit</button>

    </form>

    <div class="people">
        <img src="{% static 'images/3.png' %}" alt="women" >
        <p><span>Navya Ghosh</span> Senior Marketing Manager <br> Phone: 8921592755 <br> Email: navyaghosh103@gmail.com </p>

    </div>
     <div class="people">
        <img src="{% static 'images/2.png' %}" alt="man" >
        <p><span>Aswin Surendran</span> Senior Marketing Manager <br> Phone: 9447665988 <br> Email: aswinsurendran@gmail.com </p>

    </div>
     <div class="people">
        <img src="{% static 'images/1.png' %}" alt="men" >
        <p><span>John Smith</span> Senior Marketing Manager <br> Phone: 9497566557 <br> Email: johnsmith@gmail.com </p>

    </div>

</section>










<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign up for Newsletters</h4>
        <p>Get email updates about our latest <span>special offers</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign up</button>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="{% static 'images/logo.png' %}" alt="Logo">
        <h4>Contact</h4>
        <p><strong>Address:</strong> Harvest Haven Labs </p>
        <p><strong>Phone:</strong> 8921592755</p>
        <p><strong>Hours:</strong> 10.00 to 5.00, Mon - Sat</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My wishlist</a>
        <a href="#">Track my order</a>
        <a href="#">Help</a>
    </div>
    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="{% static 'images/app.png' %}" alt="App">
            <img src="{% static 'images/play.png' %}" alt="Play">
        </div>
        <p>Secured Payment Gateways</p>
        <img src="{% static 'images/pay.png' %}" alt="Pay">
    </div>
    <div class="copyright">
        <p>Copyright @ 2024 Harvest Haven. All Rights Reserved.</p>
    </div>
</footer>
<script src="{% static 'script.js' %}"></script>
</body>
</html>