<!doctype html>

<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <style>
       <style>
    #search-bar {
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        z-index: 1000;
    }

    #search-bar.active {
        display: block;
    }

        #search-bar input[type="text"] {
            width: calc(100% - 80px);
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
            font-size: 16px;
        }
        #search-bar button {
            padding: 8px 15px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }





    </style>
    <title>Harvest Haven</title>
</head>
<body>
<section id="header">
    <a href="#"><img src="{% static 'images/logo.png' %}" class="logo" alt="image1"></a>
    <div>
        <ul id="navbar">
            <li id="search-icon"><i class="fa-solid fa-magnifying-glass"></i></li>
            <li><a href="{% url 'fresh_tohome:home' %}">Home</a></li>
            <li><a href="{% url 'fresh_tohome:shop' %}">Shop</a></li>
            <li><a href="{% url 'fresh_tohome:offers' %}">Offers</a></li>
            <li><a href="{% url 'fresh_tohome:about_farmers' %}">About Farmers</a></li>
            <li><a href="{% url 'fresh_tohome:about_us' %}">About Us</a></li>
            <li><a href="{% url 'fresh_tohome:contact' %}">Contact</a></li>
            <li id="lg-bag"><a href="{% url 'fresh_tohome:cart' %}"><i class="fa-solid fa-bag-shopping"></i></a></li>
            <button id="signin-btn" class="log"><a href="{% url 'fresh_tohome:sign_in' %}">Sign In</a></button>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        <i id="bar" class="fa-solid fa-outdent"></i>
        <!-- Search bar and button -->
        <div id="search-bar">
            <input type="text" placeholder="Search...">
            <button>Search</button>
        </div>
    </div>
</section>

<section id="hero">
    <div class="text-row">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 20% off!</p>
        <button>Shop Now</button>
    </div>
    <div class="image-row"></div>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="{% static 'images/testing.png' %}" alt="Residue-Testing">
        <h6>Residue Testing</h6>
        <p>Regular pesticide residue
        testing</p>
    </div>
     <div class="fe-box">
        <img src="{% static 'images/sourcing.png' %}" alt="Local-Sourcing">
        <h6>Local Sourcing</h6>
         <p>Sourcing locally from approved
         farmers</p>
    </div>
     <div class="fe-box">
        <img src="{% static 'images/traceability.png' %}" alt="Traceability">
        <h6>Traceability</h6>
         <p>Supply chain traceability in
         farm travel</p>
    </div>
     <div class="fe-box">
        <img src="{% static 'images/order.png' %}" alt="Order-Now">
        <h6>Order Now</h6>
         <p>Delivered Tomorrow</p>
    </div>


</section>

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>The magic of Red in your Diet</p>
    <div class="pro-container">
        <div class="pro">
            <img src="{% static 'images/carrot.png' %}" alt="Carrot">
            <div class="desc">
                <span>Carrot</span>
                <h5>Loaded with fiber, this healthy vegetable keeps blood sugar levels in control & also aids in weight</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 250 gm Rs 50</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'images/cauliflower.png' %}" alt="Cauliflower">
            <div class="desc">
                <span>Cauliflower</span>
                <h5> Cauliflower is a nutritious and versatile vegetable that can be used in a variety of dishes</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 600-900g - 1 Nos Rs 50</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
          <div class="pro">
            <img src="{% static 'images/cucumber.png' %}" alt="Cucumber">
            <div class="desc">
                <span>Cucumber</span>
                <h5> They are low in calories and naturally fat-free, making them an excellent choice for healthy eating</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 0.50 Kg Rs 30</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
          <div class="pro">
            <img src="{% static 'images/greenapple.png' %}" alt="Greenapple">
            <div class="desc">
                <span>Greenapple</span>
                <h5> Cauliflower is a nutritious and versatile vegetable that can be used in a variety of dishes</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 450-550g -  Rs 195</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
          <div class="pro">
            <img src="{% static 'images/ladysfinger.png' %}" alt="Ladysfinger">
            <div class="desc">
                <span>Ladysfinger</span>
                <h5> Ladys finger or okra, no matter what you call it will always be the crowd favorite!</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 0.30g -  Rs 16.20</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
          <div class="pro">
            <img src="{% static 'images/mushroom.png' %}" alt="Mushroom">
            <div class="desc">
                <span>Mushroom</span>
                <h5>Button mushrooms, also known as white mushrooms, are one of the most popular and widely consumed  </h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 1 Pack - Rs 85</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
          <div class="pro">
            <img src="{% static 'images/pineapple.png' %}" alt="Pineapple">
            <div class="desc">
                <span>Pineapple</span>
                <h5> The refreshing & tangy flavour of pineapples is cherished by all! Moreover, these fruits are so good</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 800g-1.5kg - 1 Nos Rs 99</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
          <div class="pro">
            <img src="{% static 'images/sambar.png' %}" alt="Sambar">
            <div class="desc">
                <span>Sambar Cut Mini Pack</span>
                <h5>The best sambar is made from the freshest ingredients & we're bringing just that to you!</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 250g-1Box Rs 59</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

    </div>
</section>

<section id="banner" class="section-m1">
    <h4>Safe Food</h4>
    <h2>We are working towards safe food which are nutri locked and hygienic</h2>
    <button class="normal" >Know More</button>
</section>


<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>One stop solution for those who don't compromise for health and quality!</p>
    <div class="pro-container">
        <div class="pro">
            <img src="{% static 'images/onion.png' %}" alt="Onion">
            <div class="desc">
                <span>Onion</span>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 950gm-1050gm  Rs 56</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="pro">
            <img src="{% static 'images/snakeguard.png' %}" alt="Snakeguard">
            <div class="desc">
                <span>Snakeguard</span>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 450-550g - Rs 90</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
          <div class="pro">
            <img src="{% static 'images/sweetpotato.png' %}" alt="Sweetpotato">
            <div class="desc">
                <span>Sweetpotato</span>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 450-550gm Rs 49</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
          <div class="pro">
            <img src="{% static 'images/tapioca.png' %}" alt="Tapioca">
            <div class="desc">
                <span>Tapioca</span>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 950-1050g -  Rs 55</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
          <div class="pro">
            <img src="{% static 'images/tomatto.png' %}" alt="Tomato">
            <div class="desc">
                <span>Tomato</span>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 450-550gm -  Rs 32</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
          <div class="pro">
            <img src="{% static 'images/yam.png' %}" alt="Yam">
            <div class="desc">
                <span>Yam</span>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 1 Pack - Rs 85</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

          <div class="pro">
            <img src="{% static 'images/zuchini_green.png' %}" alt="Zuchinigreen">
            <div class="desc">
                <span>Zuchini Green</span>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 450-550gm Rs 90</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

         <div class="pro">
            <img src="{% static 'images/zuchini_yellow.png' %}" alt="Zuchiniyellow">
            <div class="desc">
                <span>Zuchini Yellow</span>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4> 450-550gm Rs 100</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>


    </div>
</section>

<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h2>Fresh Vegetables</h2>
        <button class="white"> Shop Now</button>

    </div>
     <div class="banner-box banner-box2">
        <h2>Know your Farmer</h2>
        <button class="white">Know More</button>

    </div>
</section>

<section id="banner3">
    <div class="banner-box">
        <h6>Control Blood Pressure, the right way!</h6>
        <button class="white">Show More</button>

    </div>
    <div class="banner-box2">
        <h6>Five reasons why brocoli should be a part of our diet!</h6>
        <button class="white">Show More</button>

    </div>
    <div class="banner-box3">
        <h6>Five tips that you prevent cough!</h6>
        <button class="white">Show More</button>

    </div>



</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign up for Newsletters</h4>
        <p>Get email updates about our latest <span>special offers</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign up</button>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="{% static 'images/logo.png' %}" alt="Logo">
        <h4>Contact</h4>
        <p><strong>Address:</strong> Harvest Haven Labs </p>
        <p><strong>Phone:</strong> 8921592755</p>
        <p><strong>Hours:</strong> 10.00 to 5.00, Mon - Sat</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My wishlist</a>
        <a href="#">Track my order</a>
        <a href="#">Help</a>
    </div>
    <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
            <img src="{% static 'images/app.png' %}" alt="App">
            <img src="{% static 'images/play.png' %}" alt="Play">
        </div>
        <p>Secured Payment Gateways</p>
        <img src="{% static 'images/pay.png' %}" alt="Pay">
    </div>
    <div class="copyright">
        <p>Copyright @ 2024 Harvest Haven. All Rights Reserved.</p>
    </div>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var searchBar = document.getElementById("search-bar");
        var searchIcon = document.getElementById("search-icon");

        searchIcon.addEventListener("click", function() {
            searchBar.classList.toggle("active");
        });
    });
</script>





</body>
</html>